{% extends 'base.html' %}

{% block title %}
    1В: {{ user.get_full_name }}
{% endblock %}

{% block h1 %}
    {{ user.get_full_name }}
{% endblock %}

{% block content %}
{% load booking_extras %}
{% for line in schedule %}
<div class="card mb-3"">
  <div class="card-body">
    <h3 class="card-title">
        <i class="bi {{ line.lesson.bootstrap_icon }}"></i>
        {{ line.lesson.title }}
    </h3>
    <p class="card-text">
        Дни занятий: {{ line.week_schedule }}<br />
        {{ line.lesson.description }}</p>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">
          Следующее занятие:
        {{ line.next_lesson_day|date:"l d.m.Y" }}
        {% if line.is_next_lesson_tomorrow %}
        (Завтра)
        {% endif %}

      {% if line.id in bookings %}
              <span class="badge bg-success rounded-pill"><i class="bi bi-check-circle"></i> ВЫ ЗАПИСАНЫ</span>
      {% else %}
              <span class="badge bg-secondary rounded-pill"><i class="bi bi-x-circle"></i> ВЫ НЕ ЗАПИСАНЫ</span>
      {% endif %}
              </p>
      <p style="background-color: {% if line.is_deadline %}LavenderBlush{% else %}Beige{% endif %};">
          Изменить запись можно {% if line.is_deadline %}было {% endif %}до:
          {% if line.is_next_lesson_tomorrow %}
          {{ line.deadline_time|date:"H:i d.m.Y" }} (Сегодня)
          {% else %}
          {{ line.deadline_time|date:"H:i d.m.Y (l)" }}
          {% endif %}
      </p>
      {% if line.id in bookings %}
              <a href="{% url 'booking:cancel_booking_next_lesson' bookings|hash:line.id %}" class="btn btn-outline-danger {% if line.is_deadline %}disabled{% endif %}"><i class="bi bi-x-circle"></i> Не пойдём на это занятие</a>
      {% else %}
              <a href="{% url 'booking:booking_next_lesson' line.id %}" class="btn btn-outline-success {% if line.is_deadline %}disabled{% endif %}"><i class="bi bi-check-circle"></i> Пойдём на это занятие</a>
      {% endif %}
              <a href="{% url 'booking:multi_booking' line.id %}" class="btn btn-outline-dark"><i class="bi bi-card-checklist"></i> Посмотреть запись на другие дни</a>
          </li>
      </ul>
  </div>
</div>
{% endfor %}
{% endblock %}
